---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.url }}/assets/img/profile.png" alt="Home" width="100%">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Courses and Notes</h3>
    {% for course in site.data.settings.courses %}
      <p><a href="{{ site.url }}/courses/{{ course.url}}">{{ course.name }}</a></p>
    {% endfor %}
  </div>
</div>